/*! GENERAL RULES */

* {
    padding: 0;
    margin: 0;
}

/* utils */

.bg-verdeacqua {
    background-color: #1ABC9C;
}
.bg-white {
    background-color: white;
}

/* sections */

body {
    background-color: #2C3E50;
}

header {
    height: 100px;
} 

.title {
    background-color: var(--bs-gray);
    height: 75px;
}

.jumbotron {
    height: 500px;
}

.content {
    width: 400px;
}

.portfolio {
    min-height: 800px;
    background-color: whitesmoke;
}

.card {
    height: 350px;
    flex-basis: 100%;
}

.about,
.contact-form {
    height: 500px;
}
.about div,
.contact-form div {
    flex-basis: 100%;
    max-width: 960px;
}

footer {
    background-color:#3A546D ;
    min-height: 300px;
}

footer .box {
    flex-basis: calc(100% / 3);
    height: 100px;
}

.footer-bottom {
    height: 100px;
}

@media screen and (min-width:1200px) {

    .cs-container {
        width: 960px;
    }
}