/*! CSS PROPERTIES */

:root {
    --txt-darkblue: #2c3e50;

   }

/*! GENERAL RULES */

* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    color: white;
}

body {
    background-color: #2C3E50;
}

h1 {
    font-size: 2.3rem;
    font-weight: 700;
    padding: 15px 0;
}

h2 {
    color: #333333;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 15px 0;
    text-transform: uppercase;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

img {
    width: 100%;
    height: auto;
}

/*! Utils */

.bg-verdeacqua {
    background-color: #1ABC9C;
}
.bg-white {
    background-color: white;
}
.bg-vibred {
    background-color: #ba4b63;
}
.bg-dodblue {
    background-color: #1ea4b6;
}
.bg-quasiblack {
    background-color: #140f0f;
}
.bg-bluelagoon {
    background-color: #1c83c1;
}
.bg-blueocean {
    background-color: #0e38b5;
}
.bg-sand {
    background-color: #ccb2a3;
}
.bg-wsmoke {
    background-color: whitesmoke;;
}

/* Divisore con stella */
.horiz-rule {
    height: 2px;
    width: 75px;
    
    border: 2px solid;
    border-radius: 3px;
    margin: 0 8px 8px 8px;

    display: inline-block;
}

.divider {
    margin: 10px 0;      
}

.portfolio .divider *,
.contact-form .divider * {
    color: var(--txt-darkblue);   
}

/*! Font-Awesome */

.fa-star {
    font-size: 1.8rem;
}

.fa-download {
    padding-right: 5px;
}

/*! sections */

/* HEADER */

header {
    min-height: 90px;
} 

.navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar button {
    border-color: white;
    padding: 2px 8px;
}

.nav-item {
    flex-basis: 100%;
}

/* JUMBOTRON */

.avatar img {
    height: 275px;
    width: 275px;
}

/* PORTFOLIO */

.portfolio picture {
    padding: 5px;
}

/* ABOUT */

.about h2 {
    color: white;
}

.about button {
    font-size: 1.1rem ;
    font-weight: 600;

    padding: 9px 15px;
    margin-top: 25px;

    vertical-align: middle;
}

.about p {
    margin: 15px 0;

    font-size: 1.3rem;
    font-weight: 600;
}

/* FORM */

.col-8 input.form-submit {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #1ABC9C;

    border-radius: 5px;
    border-style: none;

    vertical-align: middle;
    width: auto;
    padding: 6px 15px 9px 15px;
    margin-top: 15px;
}

.contact-form input,
.contact-form textarea {
    color: var(--txt-darkblue);
    background-color: white;

    padding: 10px 0 15px 0;
    border-style: unset;
    border-bottom: 1px solid rgba(165, 165, 165, 0.658);

    font-size: 1.3rem;
    font-weight: 600;
    
    width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: none;
}

footer {
    background-color:#3A546D ;
    min-height: 300px;
}

footer .box {
    flex-basis: calc(100% / 3);
    height: 100px;
}

.footer-bottom {
    height: 100px;
}

@media screen and (min-width:1200px) {

    .cs-container {
        width: 960px;
    }
}